* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #222;
}

.nf {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.nf p {
  font-family: "Josefin Sans", sans-serif;
  color: #c9c9c9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 15px;
}
